pre.sh_sourceCode {
  background-color: #bfbfbf;
  color: #656565;
  font-weight: normal;
  font-style: normal;
}

pre.sh_sourceCode .sh_keyword {
  color: #353535;
  font-weight: bold;
  font-style: normal;
}

pre.sh_sourceCode .sh_type {
  color: #3241c6;
  font-weight: normal;
  font-style: normal;
}

pre.sh_sourceCode .sh_string {
  color: #005599;
  font-weight: normal;
  font-style: normal;
}

pre.sh_sourceCode .sh_regexp {
  color: #005599;
  font-weight: normal;
  font-style: normal;
}

pre.sh_sourceCode .sh_specialchar {
  color: #005599;
  font-weight: normal;
  font-style: normal;
}

pre.sh_sourceCode .sh_comment {
  color: #d11d20;
  font-weight: normal;
  font-style: italic;
}

pre.sh_sourceCode .sh_number {
  color: #16930d;
  font-weight: normal;
  font-style: normal;
}

pre.sh_sourceCode .sh_preproc {
  color: #000033;
  font-weight: normal;
  font-style: normal;
}

pre.sh_sourceCode .sh_symbol {
  color: #222222;
  font-weight: normal;
  font-style: normal;
}

pre.sh_sourceCode .sh_function {
  color: #38255c;
  font-weight: normal;
  font-style: normal;
}

pre.sh_sourceCode .sh_cbracket {
  color: #222222;
  font-weight: normal;
  font-style: normal;
}

pre.sh_sourceCode .sh_url {
  color: #005599;
  font-weight: normal;
  font-style: normal;
}

pre.sh_sourceCode .sh_date {
  color: #353535;
  font-weight: bold;
  font-style: normal;
}

pre.sh_sourceCode .sh_time {
  color: #353535;
  font-weight: bold;
  font-style: normal;
}

pre.sh_sourceCode .sh_file {
  color: #353535;
  font-weight: bold;
  font-style: normal;
}

pre.sh_sourceCode .sh_ip {
  color: #005599;
  font-weight: normal;
  font-style: normal;
}

pre.sh_sourceCode .sh_name {
  color: #005599;
  font-weight: normal;
  font-style: normal;
}

pre.sh_sourceCode .sh_variable {
  color: #ae5a16;
  font-weight: normal;
  font-style: normal;
}

pre.sh_sourceCode .sh_oldfile {
  color: #005599;
  font-weight: normal;
  font-style: normal;
}

pre.sh_sourceCode .sh_newfile {
  color: #005599;
  font-weight: normal;
  font-style: normal;
}

pre.sh_sourceCode .sh_difflines {
  color: #353535;
  font-weight: bold;
  font-style: normal;
}

pre.sh_sourceCode .sh_selector {
  color: #ae5a16;
  font-weight: normal;
  font-style: normal;
}

pre.sh_sourceCode .sh_property {
  color: #353535;
  font-weight: bold;
  font-style: normal;
}

pre.sh_sourceCode .sh_value {
  color: #005599;
  font-weight: normal;
  font-style: normal;
}

