pre.sh_sourceCode {
  background-color: #ffffff;
  color: #000000;
  font-weight: normal;
  font-style: normal;
}

pre.sh_sourceCode .sh_keyword {
  color: #000000;
  font-weight: bold;
  font-style: normal;
}

pre.sh_sourceCode .sh_type {
  color: #000000;
  font-weight: normal;
  font-style: normal;
}

pre.sh_sourceCode .sh_string {
  color: #ff0000;
  font-weight: normal;
  font-style: normal;
}

pre.sh_sourceCode .sh_regexp {
  color: #ff0000;
  font-weight: normal;
  font-style: normal;
}

pre.sh_sourceCode .sh_specialchar {
  color: #ff0000;
  font-weight: normal;
  font-style: normal;
}

pre.sh_sourceCode .sh_comment {
  color: #000080;
  font-weight: normal;
  font-style: italic;
}

pre.sh_sourceCode .sh_number {
  color: #0000ff;
  font-weight: normal;
  font-style: normal;
}

pre.sh_sourceCode .sh_preproc {
  color: #008000;
  font-weight: normal;
  font-style: normal;
}

pre.sh_sourceCode .sh_function {
  color: #000000;
  font-weight: normal;
  font-style: normal;
}

pre.sh_sourceCode .sh_url {
  color: #ff0000;
  font-weight: normal;
  font-style: normal;
}

pre.sh_sourceCode .sh_date {
  color: #000000;
  font-weight: bold;
  font-style: normal;
}

pre.sh_sourceCode .sh_time {
  color: #000000;
  font-weight: bold;
  font-style: normal;
}

pre.sh_sourceCode .sh_file {
  color: #000000;
  font-weight: bold;
  font-style: normal;
}

pre.sh_sourceCode .sh_ip {
  color: #ff0000;
  font-weight: normal;
  font-style: normal;
}

pre.sh_sourceCode .sh_name {
  color: #ff0000;
  font-weight: normal;
  font-style: normal;
}

pre.sh_sourceCode .sh_variable {
  color: #000000;
  font-weight: bold;
  font-style: normal;
}

pre.sh_sourceCode .sh_oldfile {
  color: #ff0000;
  font-weight: normal;
  font-style: normal;
}

pre.sh_sourceCode .sh_newfile {
  color: #ff0000;
  font-weight: normal;
  font-style: normal;
}

pre.sh_sourceCode .sh_difflines {
  color: #000000;
  font-weight: bold;
  font-style: normal;
}

pre.sh_sourceCode .sh_selector {
  color: #000000;
  font-weight: bold;
  font-style: normal;
}

pre.sh_sourceCode .sh_property {
  color: #000000;
  font-weight: bold;
  font-style: normal;
}

pre.sh_sourceCode .sh_value {
  color: #ff0000;
  font-weight: normal;
  font-style: normal;
}

