pre.sh_sourceCode {
  background-color: #000035;
  color: #008bff;
  font-weight: normal;
  font-style: normal;
}

pre.sh_sourceCode .sh_keyword {
  color: #f8c50b;
  font-weight: bold;
  font-style: normal;
}

pre.sh_sourceCode .sh_type {
  color: #e1e72f;
  font-weight: normal;
  font-style: normal;
}

pre.sh_sourceCode .sh_string {
  color: #ffffff;
  font-weight: normal;
  font-style: normal;
}

pre.sh_sourceCode .sh_regexp {
  color: #ffffff;
  font-weight: normal;
  font-style: normal;
}

pre.sh_sourceCode .sh_specialchar {
  color: #ffffff;
  font-weight: normal;
  font-style: normal;
}

pre.sh_sourceCode .sh_comment {
  color: #ffbb00;
  font-weight: normal;
  font-style: italic;
}

pre.sh_sourceCode .sh_number {
  color: #f87ff4;
  font-weight: normal;
  font-style: normal;
}

pre.sh_sourceCode .sh_preproc {
  color: #bb00ff;
  font-weight: normal;
  font-style: normal;
}

pre.sh_sourceCode .sh_symbol {
  color: #ffffff;
  font-weight: normal;
  font-style: normal;
}

pre.sh_sourceCode .sh_function {
  color: #ffffff;
  font-weight: normal;
  font-style: normal;
}

pre.sh_sourceCode .sh_cbracket {
  color: #ffffff;
  font-weight: normal;
  font-style: normal;
}

pre.sh_sourceCode .sh_url {
  color: #ffffff;
  font-weight: normal;
  font-style: normal;
}

pre.sh_sourceCode .sh_date {
  color: #f8c50b;
  font-weight: bold;
  font-style: normal;
}

pre.sh_sourceCode .sh_time {
  color: #f8c50b;
  font-weight: bold;
  font-style: normal;
}

pre.sh_sourceCode .sh_file {
  color: #f8c50b;
  font-weight: bold;
  font-style: normal;
}

pre.sh_sourceCode .sh_ip {
  color: #ffffff;
  font-weight: normal;
  font-style: normal;
}

pre.sh_sourceCode .sh_name {
  color: #ffffff;
  font-weight: normal;
  font-style: normal;
}

pre.sh_sourceCode .sh_variable {
  color: #13d8ef;
  font-weight: normal;
  font-style: normal;
}

pre.sh_sourceCode .sh_oldfile {
  color: #ffffff;
  font-weight: normal;
  font-style: normal;
}

pre.sh_sourceCode .sh_newfile {
  color: #ffffff;
  font-weight: normal;
  font-style: normal;
}

pre.sh_sourceCode .sh_difflines {
  color: #f8c50b;
  font-weight: bold;
  font-style: normal;
}

pre.sh_sourceCode .sh_selector {
  color: #13d8ef;
  font-weight: normal;
  font-style: normal;
}

pre.sh_sourceCode .sh_property {
  color: #f8c50b;
  font-weight: bold;
  font-style: normal;
}

pre.sh_sourceCode .sh_value {
  color: #ffffff;
  font-weight: normal;
  font-style: normal;
}

