body {
  background: #999;
}
#container {
  width: 100%;
}
#display {
  background: #FFF;
  overflow:hidden;
}
#footer {
  clear:both;
  background: #666;
  color: #FFF;
  width: 100%;
  padding: 10px;
  font-size: 11px;
  text-align:left;
  position: fixed;
  bottom: 0px;
}
p.description {
  line-height: 200%;
  font-weight: normal;
}
p.description a:link, p.description a:visited {
  color: #88D8F0;
  font-weight:bold;
}
p.description a:hover {
  color: #000;
}
input[type="text"], input[type="password"], textarea {
  border: 1px solid #CCC;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}
.header {
  height:20px;
}
.nav .sep {
  float:left;
  border-left: 1px solid #A5A5A5;
  width: 1px;
  height: 32px;
  margin: 0px 10px;
}
.nav a.logo {
  padding: 0px 10px;
}
.nav a.logo:hover {
  background: none;
}
.nav a {
  font-weight: bold;
}
.user-nav {
  position: absolute;
  font-size: 12px;
  top: 10px;
  right: 10px;
  width: 200px;
  text-align: right;
  text-shadow: 0px 1px 1px #000; 
  color:#CCC;
}
.user-nav span {
  padding: 0px 5px;
}
.user-nav a:link, 
.user-nav a:visited,
#footer a:link, 
#footer a:visited {
  color:#999;
}
.user-nav a:hover,
#footer a:hover {
  color: #FFF;
}

iframe {
  margin: 10px;
  width: 95%;
  background: #FFF;
}
#navigation.header {
  position: fixed;
  bottom: 0px;
  height: 40px;
  width: 100%;
  text-align:center;
  padding: 4px 0px;
}
#navigation form {
  display:inline;
}
#navigation .prev {
  position: absolute;
  left: 10px;
}
#navigation .next {
  position: absolute;
  right: 10px;
}

.modal {
  opacity: 0.7;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  padding: 40px;
  position: absolute;
  top: 0;
  left: 0;
  color: #FFF;
  text-align: center;
  z-index: 400;
}

#modal-loader {
  background: #000;
}

#modal-notification {
  width: 300px;
}

#modal-notification.success {
  background: #486A78;
}

#modal-notification.error {
  background: #992A20;
}

#create {
  background: #AAA;
  padding: 20px;
}
#create input, #create button {
  font-size: 16px;
}
#create .simple-form {
  width: 100%
}

.preso {
  width: 300px;
  height: 300px;
  border: 1px solid #666;
  -webkit-box-shadow: 0 0 15px #333;
  -moz-box-shadow: 0 0 15px #333;
  float:left;
  margin: 10px;
  cursor: pointer;
}
.preso.selected {
  -webkit-box-shadow: 0 0 15px #FFF;
  -moz-box-shadow: 0 0 15px #FFF;
}
.submit {
  float:right;
}
.slide-sort {
  width: 180px;
  height: 100%;
  overflow: scroll;
  float:left;
}
.slide-sort .slide {
  margin: 10px;
  -webkit-box-shadow: 0 0 15px #333;
  -moz-box-shadow: 0 0 15px #333;
}
.slide-edit {
  width: 100%;
  color:#333;
}
.slide-form h3, h3.section {
  font-size: 16px;
  text-shadow: 0px 1px 1px #D2D2D2;
  margin: 10px 0px;
  padding: 0px 10px 10px;
  border-bottom: 2px solid #999;
}
.slide-form {
  width: 48%;
  background: #AAA;
  float: left;
}
.slide-form p {
  width: auto;
  padding: 0px 0px 10px;
}
.slide-form form {
  width: auto;
  margin: 20px;
}
.slide-form textarea {
  width: 99%;
}
.slide-form textarea.content-textarea {
  height: 300px;
}
.slide-attachments {
  margin: 20px;
}
.slide-attachment {
  font-weight: normal;
  padding: 4px 0px;
  display:block;
  cursor:pointer;
}
.slide-preview {
  float: left;
  padding: 20px;
}
.slide-preview .slide {
  border: 1px solid #666;
  -webkit-box-shadow: 0 0 15px #333;
  -moz-box-shadow: 0 0 15px #333;
}

.slide-sort {
  width: 200px;
}
.slide-sort .slide {
  width: 180px;
  height: 180px;
}


.slide {
  float:left;
  background: #FFF;
}

.simple-content {
  background: #F1F1F1;
}
.simple-form {
  width: 50%;
  min-width: 400px;
  float:left;
}
.simple-form h3 {
  text-align:left;
}
.simple-form form {
  padding: 20px;
}
.simple-form p {
  padding: 10px 0px 0px;
}
.simple-form p label {
  width: 150px;
  padding: 8px 0px 0px;
  float: left;
}
.simple-form .submit {
  float:none;
  margin-left: 150px;
}

.clear {
  width: auto;
  line-height: 0;
  clear:both;
}
