input[type="text"], input[type="password"], textarea {
  border: 1px solid #CCC;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}

#container {
  width: 100%;
}

#display {
  overflow:hidden;
}

#slides {
  
}

.slide {
  float:left;
  background: #FFF;
}
.clear {
  width: auto;
  line-height: 0;
  clear:both;
}