.slide {
  font-size: 42px;
}
.slide .content {
  font-size: 100%;
  padding: 0 15%;  
}
.slide .content h1,
.slide .content h2,
.slide .content h3,
.slide .content h4,
.slide .content h5 {
  line-height: 150%;
}
.slide .content h1 {
  font-size: 200%;
}
.slide .content h2 {
  font-size: 180%;
}
.slide .content h3 {
  font-size: 160%;
}
.slide .content h4 {
  font-size: 140%;
}
.slide .content h5 {
  font-size: 120%;
}
.basic {
  font-family: "Gill Sans", Sans, sans-serif;
  background: #010101;
  background: -webkit-gradient(linear, left top, left bottom, from(#010101), to(#4d4a5b));
  background: -moz-linear-gradient(left top, left bottom, from(#010101), to(#4d4a5b));
  text-align: center;
  color: #FFF;
  text-shadow: 0px 2% 2% #CCC;
  font-weight: normal;
}
.basic ul, .basic ol, .basic pre {
  text-align: left;
}
.basic li {
  list-style-type: disc;
  list-style-position: inside;
}

.nakajima {
  
}
.quirkey {
  
}

/*// code highlighting */
pre.sh_sourceCode {
  background-color: #ffffff;
  color: #000000;
  font-weight: normal;
  font-style: normal;
}

pre.sh_sourceCode .sh_keyword {
  color: #000000;
  font-weight: bold;
  font-style: normal;
}

pre.sh_sourceCode .sh_type {
  color: #830000;
  font-weight: normal;
  font-style: normal;
}

pre.sh_sourceCode .sh_string {
  color: #ff0000;
  font-weight: normal;
  font-style: normal;
}

pre.sh_sourceCode .sh_regexp {
  color: #ff0000;
  font-weight: normal;
  font-style: normal;
}

pre.sh_sourceCode .sh_specialchar {
  color: #ff00ff;
  font-weight: normal;
  font-style: normal;
}

pre.sh_sourceCode .sh_comment {
  color: #838183;
  font-weight: normal;
  font-style: italic;
}

pre.sh_sourceCode .sh_number {
  color: #2928ff;
  font-weight: normal;
  font-style: normal;
}

pre.sh_sourceCode .sh_preproc {
  color: #008200;
  font-weight: normal;
  font-style: normal;
}

pre.sh_sourceCode .sh_function {
  color: #010181;
  font-weight: normal;
  font-style: normal;
}

pre.sh_sourceCode .sh_url {
  color: #ff0000;
  font-weight: normal;
  font-style: normal;
}

pre.sh_sourceCode .sh_date {
  color: #000000;
  font-weight: bold;
  font-style: normal;
}

pre.sh_sourceCode .sh_time {
  color: #000000;
  font-weight: bold;
  font-style: normal;
}

pre.sh_sourceCode .sh_file {
  color: #000000;
  font-weight: bold;
  font-style: normal;
}

pre.sh_sourceCode .sh_ip {
  color: #ff0000;
  font-weight: normal;
  font-style: normal;
}

pre.sh_sourceCode .sh_name {
  color: #ff0000;
  font-weight: normal;
  font-style: normal;
}

pre.sh_sourceCode .sh_variable {
  color: #000000;
  font-weight: bold;
  font-style: normal;
}

pre.sh_sourceCode .sh_oldfile {
  color: #ff00ff;
  font-weight: normal;
  font-style: normal;
}

pre.sh_sourceCode .sh_newfile {
  color: #ff0000;
  font-weight: normal;
  font-style: normal;
}

pre.sh_sourceCode .sh_difflines {
  color: #000000;
  font-weight: bold;
  font-style: normal;
}

pre.sh_sourceCode .sh_selector {
  color: #000000;
  font-weight: bold;
  font-style: normal;
}

pre.sh_sourceCode .sh_property {
  color: #000000;
  font-weight: bold;
  font-style: normal;
}

pre.sh_sourceCode .sh_value {
  color: #ff0000;
  font-weight: normal;
  font-style: normal;
}



