.slide {
  font-size: 42px;
}
.slide .content {
  font-size: 100%;
  padding: 0 15%;  
}
.slide .content h1,
.slide .content h2,
.slide .content h3,
.slide .content h4,
.slide .content h5 {
  line-height: 150%;
}
.slide .content h1 {
  font-size: 200%;
}
.slide .content h2 {
  font-size: 180%;
}
.slide .content h3 {
  font-size: 160%;
}
.slide .content h4 {
  font-size: 140%;
}
.slide .content h5 {
  font-size: 120%;
}
.slide .content pre {
  font-family: Inconsolata, Monaco, Courier, mono;
}
.basic {
  font-family: "Gill Sans", Sans, sans-serif;
  background: #010101;
  background: -webkit-gradient(linear, left top, left bottom, from(#010101), to(#4d4a5b));
  background: -moz-linear-gradient(left top, left bottom, from(#010101), to(#4d4a5b));
  text-align: center;
  color: #FFF;
  text-shadow: 0px 2% 2% #CCC;
  font-weight: normal;
}
.basic ul, .basic ol, .basic pre {
  text-align: left;
}
.basic li {
  list-style-type: disc;
  list-style-position: inside;
}

/******************************************************
 *  basic                 *
\*****************************************************/
.basic pre.sh_sourceCode{background-color:#000;color:#fff;font-weight:normal;font-style:normal;}.basic pre.sh_sourceCode .sh_keyword{color:#B26818;font-weight:normal;font-style:normal;}.basic pre.sh_sourceCode .sh_type{color:#0f0;font-weight:normal;font-style:normal;}.basic pre.sh_sourceCode .sh_string{color:#f00;font-weight:normal;font-style:normal;}.basic pre.sh_sourceCode .sh_regexp{color:#f00;font-weight:normal;font-style:normal;}.basic pre.sh_sourceCode .sh_specialchar{color:#f2f;font-weight:normal;font-style:normal;}.basic pre.sh_sourceCode .sh_comment{color:#00f;font-weight:normal;font-style:normal;}.basic pre.sh_sourceCode .sh_number{color:#f00;font-weight:normal;font-style:normal;}.basic pre.sh_sourceCode .sh_preproc{color:#f2f;font-weight:normal;font-style:normal;}.basic pre.sh_sourceCode .sh_function{color:#fff;font-weight:normal;font-style:normal;}.basic pre.sh_sourceCode .sh_url{color:#f00;font-weight:normal;font-style:normal;}.basic pre.sh_sourceCode .sh_date{color:#B26818;font-weight:normal;font-style:normal;}.basic pre.sh_sourceCode .sh_time{color:#B26818;font-weight:normal;font-style:normal;}.basic pre.sh_sourceCode .sh_file{color:#B26818;font-weight:normal;font-style:normal;}.basic pre.sh_sourceCode .sh_ip{color:#f00;font-weight:normal;font-style:normal;}.basic pre.sh_sourceCode .sh_name{color:#f00;font-weight:normal;font-style:normal;}.basic pre.sh_sourceCode .sh_variable{color:#B26818;font-weight:normal;font-style:normal;}.basic pre.sh_sourceCode .sh_oldfile{color:#f2f;font-weight:normal;font-style:normal;}.basic pre.sh_sourceCode .sh_newfile{color:#f00;font-weight:normal;font-style:normal;}.basic pre.sh_sourceCode .sh_difflines{color:#B26818;font-weight:normal;font-style:normal;}.basic pre.sh_sourceCode .sh_selector{color:#B26818;font-weight:normal;font-style:normal;}.basic pre.sh_sourceCode .sh_property{color:#B26818;font-weight:normal;font-style:normal;}.basic pre.sh_sourceCode .sh_value{color:#f00;font-weight:normal;font-style:normal;}


.nakajima {
  
}
.quirkey {
  
}

