<h3>Upload an Image</h3>
<% if (preso.attributes._attachments) { %>
  <ul class="slide-attachments">
    <% $.each(preso.attributes._attachments, function(k, v) { %>
      <li class="slide-attachment" rel="<%= join('/', preso.uri(), k) %>"><%= k %> (<%= v.content_type %>)</li>
    <% }); %>
  </ul>
<% } %>
<form action="#/preso/<%= preso.id() %>/upload" method="PUT">
  <input type="hidden" name="_rev" />
  <p><input type="file" name="_attachments" /><button type="submit" class="default">Upload</button></p>
</form>
