<h2 class="header">swinger</h2>
<div class="nav">
  <a href="#/new">New</a>
</div>
<div id="create">
  <h3>Create a swingin' presentation</h3>
  <form action="#/create" method="post">
    <p><input type="text" class="title-field" name="name" /></p>
    <p><input type="submit" value="GO!" class="button" /></p>
  </form>
</div>
<div id="presos">
  
</div>