<% if (!User.isLoggedIn()) { %>
<div id="create">
  <h3 class="section">Welcome to Swinger!</h3>
  <p class="description">
    Swinger is a simple presentation tool built with Sammy.js, CouchDB, and Couchapp.
    You can <a href="#/login">Login or Sign up</a> to create a slideshow or watch one
    of the existing presentations. The <a href="#/preso/welcome/display/1">"Welcome"</a> presentation
    is a good place to start.
  </p>
</div>
<% } %>
<div class="user-presos">
  <div class="header"><h3>Your Presentations</h3></div>
  <div id="presos" class="presos">
    <div class="inline-loader"><img src="images/loader-large-black.gif" alt="Loading" /></div>
  </div>
  <div class="clear"></div>
</div>
<div class="all-presos">
  <div class="header"><h3>All Presentations</h3></div>
  <div id="all-presos" class="presos">
    <div class="inline-loader"><img src="images/loader-large-black.gif" alt="Loading" /></div>
  </div>
  <div class="clear"></div>
</div>
<div class="clear"></div>
