<h2>Welcome to swinger.</h2>

<div id="create">
  <h3>Create a swingin' presentation</h3>
  <form action="#/create" method="post">
    <p><input type="text" class="title-field" name="name" /></p>
    <p><input type="submit" value="GO!" /></p>
  </form>
</div>
<div id="slideshows">
  
</div>