<div class="simple-content">
  <div id="login" class="simple-form">
    <h3 class="header">Sign in</h3>
    <form action="#/login" method="post">
      <p><label for="name">Username:</label><input type="text" name="name" /></p>
      <p><label for="password">Password:</label><input type="password" name="password" /></p>
      <p><button type="submit" class="submit default">Sign in</button></p>
    </form>
    <div class="clear"></div>
  </div>
  <div id="signup" class="simple-form">
    <h3 class="header">Sign up</h3>
    <form action="#/signup" method="post">
      <p><label for="name">Username:</label><input type="text" name="name" /></p>
      <p><label for="email_address">Email:</label><input type="text" name="email" /></p>
      <p><label for="password">Password:</label><input type="password" name="password" /></p>
      <p><label for="password_confirmation">Confirm Password:</label><input type="password" name="password_confirmation" /></p>
      <p><button type="submit" class="submit default">Sign up</button></p>
    </form>
    <div class="clear"></div>
  </div>
  <div class="clear"></div>
</div>
