<div id="create">
  <h3 class="section">Create a new swingin' presentation</h3>
  <div class="simple-form">
    <form action="#/create" method="post">
      <p><label for="name">Title:</label><input type="text" name="preso[name]" /></p>
      <p><label for="_id">Short ID (optional):</label><input type="text" name="preso[_id]" /></p>
      <p><label for="preso_share">Share on homepage?</label><input id="preso_share" type="checkbox" name="preso[share]" checked="checked" /></p>
      <p><label>Choose a theme:</label></p>
      <div class="themes">
        <% $.each(themes, function(i, v) { %>
          <input type="radio" name="preso[theme]" value="<%= v %>" style="display:none;" />
            <div class="preso" style="width: 150px; height: 150px;" data-theme="<%= v %>">
              <div class="slide active <%= v %>">
                <div class="content"><h1><%= v %></h1></div>
              </div>
            </div>
        <% }); %>        
        <div class="clear"></div>
      </div>
      <p><button type="submit" class="submit default">Create</button></p>
    </form>
  </div>
  <div class="clear"></div>
</div>